a {
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: helvetica;
    font-size: 24pt;
    color: black;
}
.element {
    left: 100px;
    bottom: 50px;
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: rgb(255, 181, 237);
    animation: 
      nudge 5s linear infinite alternate;
    border-radius: 100%;
  }
  
  @keyframes nudge {
    0% {
      transform: translate(0, 0);
    }
    
    30% {
      transform: translate(350px, 0);
    }
    
    60% {
      transform: translate(700px, 0);
    }
    100% {
       transform: translate(1050px, 0);
    }
  }
  
  
  html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  