video {
width: 800px;
}
p{
    font-family: helvetica;
    font-size: 10pt;
    font-style: italic;
    color: blue;
}
p:hover {
    color: aqua;
}
h1{
    font-family: helvetica;
    font-size: 48pt;
    font-style:normal
}
a{
    color: blue;
}
.abab {
    font-style: normal;
}
body {
    background-color: rgba(131, 248, 113, 0.527);
}