p{
    font-family: helvetica;
    font-size: 10pt;
    font-style: italic;
    color:black;
}
p:hover {
    color: aqua;
}
h1{
    font-family: helvetica;
    font-size: 48pt;
    font-style:normal
}
a{
    color: rgb(30, 168, 168);
}
body {
    background-color: antiquewhite;
}